/* TODO Merge like declarations where it makes sense to do so. */

* {
    /* border: 5px solid; */
    box-sizing: border-box;
}

html {
    border-color: orange;
    margin: 0;
}

body {
    border-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    background-color: #F9FAF8;
    box-shadow: -5px 3px 10px 0px rgba(33, 33, 33, 0.31);
}


.section-1, .section-2, .section-3 {
    border-color: hotpink;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    max-width: 100%;
}

.container {
    border-color: yellowgreen;
    flex: 1;
    max-width: 1000px;
    margin-top: 0;
    padding: 0;
}

.subtext {
    border-color: mediumpurple;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

header {
    border-color: rgb(211, 28, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 0;
}

header .logo {
    border-color: hotpink;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

header .header-right {
    border-color: goldenrod;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
}

.logo, .header-link {
    font-family: 'Roboto', sans-serif;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.section-1 .content {
    border-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 140px 0 140px 0;
    padding: 0;
}

.section-1-card {
    border-color: brown;
    flex: 1;
    margin: 0;
    padding: 0;
}

.section-1-card .main-title,.subtext,button,.subtitle,.quote,.speaker {
    font-family: 'Roboto', sans-serif;
}

.section-1-card .main-title {
    border-color: limegreen;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0 50px 0 0;
}

.section-1-card .subtext {
    padding: 0 50px 0 0;
}

.section-1-card button {
    font-size: 20px;
    font-weight: 700;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin: 12px 0 0 0;
    padding: 6px 30px 6px 30px;
}

.section-1-img {
    border-color:olivedrab;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.section-1-img img {
    border-color: orangered;
    flex: 0 1;
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* TODO Tidy section 2 class names */

.section-2 {
    background-color: white;
}

.section-2 .subtitle {
    border-color: bisque;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    padding: 50px 0 50px 0;
}

.section-2-cards {
    border-color: hotpink;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 0 0 140px 0;
}

.section-2-card {
    border-color: yellow;
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-card .card-img {
    flex: 0 1;
    border: 5px solid #3882F6;
    border-radius: 14px;
    max-width: 175px;
    height: auto;

}

.section-2-card .subtext {
    border-color: lawngreen;
    text-align: center;
    color: #494e53;
    margin-top: 12px;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 .quote {
    border-color: darkslateblue;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 140px 0 0 0;
    padding: 0 105px 0 105px;
}

.section-3 .speaker {
    border-color: brown;
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    color: #1F2937;
    margin: 0 0 140px 0;
    padding: 0 75px 0 75px;
}

