* {
    /* border: solid; */
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    border-color: lightgray;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    border-color: salmon;
    flex: 1;
    max-width: 1200px;
}

header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.header-logo {
    text-align: center;
    text-decoration: none;
    color: #F9FAF8;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-links .nav-link {
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}